body { border: 0; padding: 0; }
img { border: 0; }
h1, h2, h3, h4, div, ul { padding: 0; margin: 0; }
input { border: 1px solid #0088DD; background: #FFFFFF; }
fieldset { font-size: 0.8em; margin-bottom: 14px; }
a { text-decoration: none; color: #444444; }
li { list-style: none; }
a:hover { text-decoration: underline; }
div#footer p { text-align: center; margin: 4px; font-weight: bold;  }
div#wrapper { margin: 0; position: relative; background: #FFFFFF; border: 8px solid #0088DD; -moz-border-radius: 1em; -webkit-border-radius: 1em;  }
div#header { height: 80px; padding: 0; margin: 0; background: transparent; background-color: #0088DD; }
div#header h1 { color: #FFFFFF; }
div#menu ul { float: right; }
div#menu li { float: left; padding: 0 10px 0 10px;}
div#menu li a { color: white; font-weight: bold; }
div#main { padding: 10px; padding-bottom: 50px; margin-top: 10px; background: transparent; color: #444444; overflow: auto; }
div#loading { display: none; width: 32px; height: 32px; position: absolute; top: 0; right: 0; background: url('../images/loader.gif')}
ul#stats { display: inline; }
ul#stats li { display: inline; list-style: none; }
div.rel { float: right; max-width: 350px; }
.frag_item { display: inline-block;  padding-left: 10px; padding-top: 10px; width: 500px; white-space: nowrap; }
.frag { clear: both; background: transparent; white-space: nowrap; }
.frag:hover  { background: #CCCCFF; }
.diff { color: red;}
.doc p { margin-bottom:.71em; text-align: justify;}
.txt { width: 500px; padding-left: 10px; white-space: normal; }
.pippi { background-color: #ddddaa;}
.highlight { background: rgba(0, 120, 240, 0.2); }
.highlight:hover { background: rgba(0, 240, 120, 0.8); }
.tagcloud { float: right; width: 400px; border: 1px dotted blue; }
.size0 { font-size: .4em; }
.size1 { font-size: .5em }
.size2 { font-size: .6em }
.size3 { font-size: .7em }
.size4 { font-size: .8em }
.size5 { font-size: .9em }
.size6 { font-size: 1em }
.size7 { font-size: 1.1em }
.size8 { font-size: 1.2em }
.size9 { font-size: 1.3em }
