body { border: 0; padding: 0; }
img { border: 0; }
div#wrapper { margin: 0; position: relative; background: #FFFFFF; border: 8px solid #0088DD; -moz-border-radius: 1em;  }
div#header { height: 80px; padding: 0; margin: 0; width: 100%; background: transparent; background-color: #0088DD; }
div#header h1 { padding: 0; color: #FFFFFF; margin: 0; }
div#menu { width: 100%; }
div#menu ul { float: right; margin: 0; padding: 0; }
div#menu li { float: left; padding: 0 20px 0 20px; list-style: none;  }
div#menu li a { color: white; font-weight: bold; }
div#main { padding: 10px; padding-bottom: 150px; margin-top: 10px; background: transparent; color: #444444; width: 100%; }
.frag_item { float: left; padding-left: 10px; padding-top: 10px; }
.frag { clear: left; background: transparent; }
.diff { color: red;}
.doc p { margin-bottom:.71em; text-align: justify;}
.txt { width: 500px; padding-left: 10px; }
.pippi { background-color: #ddddaa;}
div#footer p { text-align: center; margin: 4px; font-weight: bold;  }
