{% load lenx %}<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="hu" xml:lang="hu">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="hu" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>{% block title %}[!] PippiLongstrings{% endblock %}</title>
    {% block scripts %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% root_url %}/media/css/style.css" />
    {% block styles %}
    {% endblock %}
</head>
<body>
    <div id="wrapper">
     <div id="header">
    </div>
    <div id="menu">
        {% block left %}
        <h2>Menu</h2>
        <ul>
          <li><a href="{% root_url %}/all">All Docs</a></li>
        </ul>
        {% endblock %}
    </div>
    <div id="main">
        {% block main %}
        {% endblock %}
    </div>
    <div id="footer">
        <p> <a href="http://validator.w3.org/check?uri=referer"><img src="http://www.w3.org/Icons/valid-xhtml10" alt="V
alid XHTML 1.0 Strict" height="31" width="88" /></a>
        </p>
    </div>
</div>
</body>
</html>
