{% extends "base.html" %}
{% load lenx %}
{% block scripts %}
<script type="text/javascript" src="/site_media/js/jquery.js"></script>
<script type="text/javascript" src="/site_media/js/jquery.jqote2.min.js"></script>
<!--<script type="text/javascript" src="/site_media/js/browser.js"></script>-->
<script type="text/x-jqote-template" id="template">
    <![CDATA[
    <tr id="<%= this.oid %>" class="<%= this.starclass %> docrow">
    <td>
        <a href="{% root_url %}/toggle_star/<%= this.oid %>" class="star" id="id<%= this.oid %>"><%= this.starred %></a>
    </td>
    <td class="title">
       <a title="<%= this.title %>" href="{% root_url %}/doc/<%= this.id %>"><%= this.title %></a>
    </td>
    </tr>
    ]]>
</script>
<script type="text/x-jqote-template" id="details_template">
    <![CDATA[
      <h3>Document Details</h3>
      <div id="tagcloud"></div>
      <div><span id="title"><%= this.title %></span></div>
      <div><span id="docid"><a href="/doc/<%= this.id %>"><%= this.id %></a></span></div>
      <div>
         <form id="jobsform" action="/jobs">
            <input type="hidden" name="doc" value="{{this.oid}}" />
            <input type="submit" id="jobs" value="Pippi &#x2605;" />
         </form>
      </div>
    ]]>
</script>
<script type="text/javascript">
var limit=10;
var offset=0;
var totalitems=0;

var displayDetails = function(row) {
   $('#docdetails').empty().append($($('#details_template').jqote(row.data())));
   var tags=row.data('tags');
   for(var i in row.data('tags')) {
      $('#tagcloud').append($('<span class="size'+tags[i].weight+'">'+tags[i].tag+'</span> '));
      $('#tagcloud').append(' ');
   }
   //replace donedoces with all these <li>indexed</li>
   $('.docrow').removeClass('dochighlight');
   row.addClass('dochighlight');
   $("#jobsform").submit(function() {
     //var ids = [];
     var res = false;
     $('.star:contains("★")').each(function (i) {
       res = true;
       $('#jobsform').append('<input type="hidden" name="ids" value="' + $(this).attr('id').substr(2) +'" />');
     });
     return res;
   });
}

var redraw = function(msg) {
  limit=msg.limit;
  offset=msg.offset;
  totalitems=msg.totalinquery;
  $('#total').empty().append(msg.totalinquery);
  $('#offset').empty();
  $('#upbound').empty();
  if(totalitems>limit) {
     $('#offset').append(offset+1);
     $('#upbound').append(offset+limit);
  } else {
     $('#upbound').append(totalitems || '0');
  }
  $('#tbody').empty();
  for(var i=0;i<msg.docs.length;i++) {
     $('#tbody').append($($('#template').jqote(msg.docs[i])).data(msg.docs[i]));
  }

  $(".star").focus( function(event) { $(this).blur(); return false; });
  $(".star").click( function(event) {
      var id = $(this).attr('id');
      $.ajax({
        url: "{% root_url %}/toggle_star/"+id.substr(2),
        cache: false,
        success: function(html){
          if(html == 'True') { $('#'+id).html('&#x2605;'); }
          else { $('#'+id).html('&#x2606;'); }
        }
      });
      return false;
    });

  var timer;
  $('.docrow').hover(function() { 
        if(timer) {
            clearTimeout(timer);
            timer = null
         }
         var row = $(this);
         var displayDetails_ = function () {
            return displayDetails(row);
         }
         timer = setTimeout(displayDetails_, 500)},
     // mouse out
     function() {clearTimeout(timer); timer=null;});
  displayDetails($('.docrow').first());
}

var getPage = function() {
   var pos=$('#pageaction').attr('value');
   var ceil=Math.floor(totalitems/limit)*limit;
   if (pos=="first") { offset=0; }
   else if (pos=='last') { offset=ceil; }
   else if (pos=='next') {
      offset+=limit;
      if(offset>ceil) offset=ceil; }
   else if (pos=='prev') {
      offset-=limit;
      if(offset<0) offset=0;
      };
   $.ajax({
     url: "/filter",
     data: { q: $('#query').attr('value'),
             mine: $('#minebox').prop('checked'),
             limit: limit,
             offset: offset
           }
     }).done(redraw);
}

$(document).ready(function(){
   $('form#pagingbottom').submit(function() {
      getPage();
      return false;
   });

   $('#minebox').change(function() {
      $.ajax({
        url: "/filter",
        data: { q: $('#query').attr('value'),
                mine: $('#minebox').prop('checked'),
                limit: limit,
                offset: offset
              }
        }).done(redraw);
   });

   $('#limit').change(function() {
      $.ajax({
        url: "/filter",
        data: { q: $('#query').attr('value'),
                mine: $('#minebox').prop('checked'),
                limit: $('#limit').val(),
                offset: offset
              }
        }).done(redraw);
   });

   var allstates=["☆", "★"];
   var allents=['&#x2606;', '&#x2605;'];
   var allstatus=0;

   $('#startoggle').click(function() {
      var foo=$('.star:contains("'+allstates[allstatus]+'")').parent().parent().map(function() {
         return $(this).attr('id'); 
      }).get();
      var cstate=allstatus;
      $.ajax({
         url: "{% root_url %}/toggle_stars/",
         cache: false,
         data: { ids: foo },
         success: function(data) {
            for(var i in data) {
               if(data[i] == 'True') { $('#id'+foo[i]).html(allents[cstate]); }
               else { $('#id'+foo[i]).html(allents[(cstate+1)%2]); }
            }
         }
      });
      allstatus=(allstatus+1)%2;
   });

   $.ajax({
     url: "/filter",
     }).done(redraw);

     var qtimer;
     $('#query').keyup(function() {
       if(qtimer) {
           clearTimeout(qtimer);
           qtimer = null
        }
        qtimer = setTimeout(function() {
           // reload rows
           $.ajax({
             url: "/filter",
             data: { q: $('#query').attr('value'),
                     mine: $('#minebox').prop('checked'),
                   }
             }).done(redraw);
        }, 700)});
 });

</script>
{% endblock %}
{% block content %}
<div>
   <form name="filter">
      Filter <input id="query" type="text"></input>{% if user.is_authenticated %} Only my collection <INPUT type="checkbox" id="minebox"></input>{% endif%}
      <div>(Found: <span id='total'></span>, showing <span id="offset"></span> - <span id="upbound"></span>)</div>
      </form>
</div>
<div class="pager-controls">
   <form id="pagingbottom" name="pagingbottom" >
      <input type="hidden" id="pageaction" name="pageaction" value="" />
      <input type="submit" name="firstpage" onclick="document.pagingbottom.pageaction.value='first'" value="FirstPage" />
      <input type="submit" name="backpage" onclick="document.pagingbottom.pageaction.value='prev'" value="PrevPage" />
      <SELECT name="limit" id='limit'>
        <OPTION {% if limit == 10 %}selected{%endif%} value="10">10</OPTION>
        <OPTION {% if limit == 50 %}selected{%endif%} value="50">50</OPTION>
        <OPTION {% if limit == 100 %}selected{%endif%} value="100">100</OPTION>
      </SELECT>
      <input type="submit" name="nextpage" onclick="document.pagingbottom.pageaction.value='next'" value="NextPage" />
      <input type="submit" name="lastpage" onclick="document.pagingbottom.pageaction.value='last'" value="LastPage" />
   </form>
</div>
<div id='browser'>
   <div id='docdetails'></div>
   <table class="listing browse">
     <thead>
     <tr><td id='startoggle' title='Toggle starred'>&#x2605;</td><td id="toggle_all" style="width: 100%;">Doc</td></tr>
     </thead>
     <tbody id="tbody">
     </tbody>
   </table>
</div>
{% endblock %}
