{% extends "base.html" %}
{% load lenx %}

{% block scripts %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="http://cdn.jquerytools.org/1.2.1/jquery.tools.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
      $('#loading').show();

	   $(".highlight").each(function(){
		  var el = $(this);

        tipId=el.attr("class").split(" ")[1];
        parents=el.parents(".highlight");
        if(parents.length>0) {
          var moreDocs=[];
          tip=$('#'+tipId);
          newpid=[tip.attr('id')];

          parents.each(function() {
            pid=$(this).attr('class').split(" ")[1];
            newpid.push(pid);
            $("#"+pid).find('li').each(function() {
              moreDocs.push($(this).clone());
            });
          });

          newTipId=newpid.join('-');
          if($("#"+newTipId).length==0) {
            newTip=$("<span>").addClass('pippiNote').attr('id',newTipId);
            newTip.append(tip.children().clone());
            for(li in moreDocs) {
              newTip.find("ul").append(moreDocs[li]);
            }
            $('#tooltips').append(newTip);
          }
          tipId=newTipId;
        }

		  el.tooltip({
          effect: 'fade',
          delay: 200,
          predelay: 1000,
			 tip : '#'+tipId,
          onBeforeShow: function(e,pos) {
            e.stopPropagation();
          },
		  });
	   });

      $('#loading').hide();
    });
</script>
{% endblock %}

{% block main %}

<h2>docView for {{ doc.title|safe }} ({{ doc.eurlexid }})</h2>

<div class="rel">
    <fieldset><legend>Statistics</legend>
        <h4>Cutoff: {{ cutoff }}</h4>
        <h4>Pippies: {{ len }}</h4>
        <h4>Highlights in text: {{ matches }}</h4>
    </fieldset>
    <fieldset <legend>Related docs</legend>
        <ul>
        {% for dd in related %}
            <li><a href="/doc/{{ dd.eurlexid }}?cutoff={{cutoff}}">{{dd.title|safe}}</a><hr /></li>
        {% endfor %}
        </ul>
    </fieldset>
</div>


{{ content|safe }}

<div id='tooltips'>
{{tooltips|safe }}
</div>

{% endblock %}
