{% extends "base.html" %}
{% load lenx %}

{% block scripts %}
<script type="text/javascript" src="{%media_url%}/js/jquery.1.4.2.min.js"></script>
<script type="text/javascript" src="{%media_url%}/js/docView.js"></script>
{% endblock %}

{% block main %}

<h2>docView for {{ doc.title|safe }} ({{ doc.eurlexid }})</h2>

<div class="rel">
    <fieldset><legend>Statistics</legend>
        <h4>Cutoff: {{ cutoff }}</h4>
        <h4>Pippies: {{ len }}</h4>
        <h4>Highlights in text: {{ matches }}</h4>
    </fieldset>
    <fieldset> <legend>Related docs</legend>
        <ul>
        {% for dd in related %}
            <li><a href="/doc/{{ dd.eurlexid }}?cutoff={{cutoff}}">{{dd.title|safe}}</a><hr /></li>
        {% endfor %}
        </ul>
    </fieldset>
</div>


{{ content|safe }}

<div id='tooltips'>
{{tooltips|safe }}
</div>

{% endblock %}

{% block other_content %}
<div class="msgbox" id="msgbox"><div class="msgbox_close"> X </div><div id="msgbox_c"> </div></div>
{% endblock %}
