{% extends "base.html" %}
{% load lenx %}

{% block scripts %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="http://cdn.jquerytools.org/1.2.1/jquery.tools.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#loading').show();
        $('.highlight').tooltip({effect: 'fade'});
        $('#loading').hide();
    });
</script>
{% endblock %}

{% block main %}

<h2>docView for {{ doc.title|safe }} ({{ doc.eurlexid }})</h2>

<div class="rel">
    <fieldset><legend>Statistics</legend>
        <h4>Cutoff: {{ cutoff }}</h4>
        <h4>Pippies: {{ len }}</h4>
        <h4>Highlights in text: {{ matches }}</h4>
    </fieldset>
    <fieldset <legend>Related docs</legend>
        <ul>
        {% for dd in related %}
            <li><a href="/doc/{{ dd.eurlexid }}?cutoff={{cutoff}}">{{dd.title|safe}}</a><hr /></li>
        {% endfor %}
        </ul>
    </fieldset>
</div>


{{ content|safe }}


{% endblock %}
