{% extends "base.html" %}
{% load lenx %}
{% block main %}
<h1>Frags {% if doc %}in {{doc}}{% else %}{%if pippi %}for pippi{%else%}in database{%endif%}{%endif%}</h1>
<div class="pager-controls">
 <form action="{%root_url%}/frags{% if getparams%}?{{getparams}}{%endif%}" name="pagingtop" method="post" enctype="multipart/form-data">
<input type="submit" name="firstpage" onclick="document.pagingtop.pageaction.value='first'" value="FirstPage" />
<input type="submit" name="backpage" onclick="document.pagingtop.pageaction.value='prior'" value="PriorPage" />
<SELECT name="limit">
  <OPTION {% if limit == '10' %}selected{%endif%} value="10">10</OPTION>
  <OPTION {% if limit == '50' %}selected{%endif%} value="50">50</OPTION>
  <OPTION {% if limit == '100' %}selected{%endif%} value="100">100</OPTION>
</SELECT>
<input type="submit" name="nextpage" onclick="document.pagingtop.pageaction.value='next'" value="NextPage" />
<input type="submit" name="lastpage" onclick="document.pagingtop.pageaction.value='last'" value="LastPage" />
<input type="hidden" id="offset" name="offset" value="{{offset}}" />
<input type="hidden" id="pageaction" name="pageaction" value="" />
</form>
</div>
<p>Page {{page}}/{{totalpages}} - Showing {{limit}} of {{totalinquery}} results.</p>
<table class="listing">
  <thead><tr><td>Text</td><td>Document</td><td>Score</td></tr></thead>
{% for frag in frags %}
<tr><td>{{frag.txt|safe}}</td><td><a href="{%root_url%}/doc/{{frag.doc.eurlexid}}">{{frag.doc.title}}</a></td><td>{{frag.score}}</td></tr>
{% endfor %}
</table>
<div class="pager-controls">
 <form action="{%root_url%}/frags{% if getparams%}?{{getparams}}{%endif%}" name="pagingbottom" method="post" enctype="multipart/form-data">
<input type="submit" name="firstpage" onclick="document.pagingbottom.pageaction.value='first'" value="FirstPage" />
<input type="submit" name="backpage" onclick="document.pagingbottom.pageaction.value='prior'" value="PriorPage" />
<SELECT name="limit">
  <OPTION {% if limit == '10' %}selected{%endif%} value="10">10</OPTION>
  <OPTION {% if limit == '50' %}selected{%endif%} value="50">50</OPTION>
  <OPTION {% if limit == '100' %}selected{%endif%} value="100">100</OPTION>
</SELECT>
<input type="submit" name="nextpage" onclick="document.pagingbottom.pageaction.value='next'" value="NextPage" />
<input type="submit" name="lastpage" onclick="document.pagingbottom.pageaction.value='last'" value="LastPage" />
<input type="hidden" id="offset" name="offset" value="{{offset}}" />
<input type="hidden" id="pageaction" name="pageaction" value="" />
</form>
</div>
{% endblock %}
