{% extends "base.html" %}
{% load lenx %}
{% block main %}
<h1>Frags {% if doc %}in {{docTitle}}{% else %}{%if pippiFilter %}for pippi{%else%}in database{%endif%}{%endif%}</h1>
{% if totalinquery > limit%}
<div class="pager-controls">
 <form action="{%root_url%}/frags" name="pagingtop">
{%if doc %}<input type="hidden" id="doc" name="doc" value="{{doc}}" />{%endif%}
{%if pippiFilter %}<input type="hidden" id="pippi" name="pippi" value="{{pippi}}" />{%endif%}
<input type="hidden" id="offset" name="offset" value="{{offset}}" />
<input type="submit" name="firstpage" {%if page == 1 %}disabled='disabled' {%endif%}onclick="document.pagingtop.pageaction.value='first'" value="FirstPage" />
<input type="submit" name="backpage" {%if page == 1 %}disabled='disabled' {%endif%}onclick="document.pagingtop.pageaction.value='prior'" value="PriorPage" />
<SELECT name="limit">
  <OPTION {% if limit == 10 %}selected{%endif%} value="10">10</OPTION>
  <OPTION {% if limit == 50 %}selected{%endif%} value="50">50</OPTION>
  <OPTION {% if limit == 100 %}selected{%endif%} value="100">100</OPTION>
</SELECT>
<input type="submit" name="nextpage" {%if page == totalpages %}disabled='disabled' {%endif%}onclick="document.pagingtop.pageaction.value='next'" value="NextPage" />
<input type="submit" name="lastpage" {%if page == totalpages %}disabled='disabled' {%endif%}onclick="document.pagingtop.pageaction.value='last'" value="LastPage" />
<input type="hidden" id="pageaction" name="pageaction" value="" />
</form>
</div>
<p>Page {{page}}/{{totalpages}} - Showing {{totalitems}} of {{totalinquery}} results.</p>
{%else%}
<p>Showing {{totalitems}} of {{totalinquery}} results.</p>
{%endif%}
<table class="listing">
  <thead><tr><td>Text</td><td>Document</td><td>Score</td></tr></thead>
{% for frag in frags %}
<tr><td>{{frag.txt|safe}}</td><td><a href="{%root_url%}/doc/{{frag.doc.eurlexid}}">{{frag.doc.title}}</a></td><td>{{frag.score}}</td></tr>
{% endfor %}
</table>
{% if totalinquery > limit%}
<div class="pager-controls">
 <form action="{%root_url%}/frags" name="pagingbottom">
{%if doc %}<input type="hidden" id="doc" name="doc" value="{{doc}}" />{%endif%}
{%if pippiFilter %}<input type="hidden" id="pippi" name="pippi" value="{{pippi}}" />{%endif%}
<input type="hidden" id="offset" name="offset" value="{{offset}}" />
<input type="submit" name="firstpage" {%if page == 1 %}disabled='disabled' {%endif%}onclick="document.pagingbottom.pageaction.value='first'" value="FirstPage" />
<input type="submit" name="backpage" {%if page == 1 %}disabled='disabled' {%endif%}onclick="document.pagingbottom.pageaction.value='prior'" value="PriorPage" />
<SELECT name="limit">
  <OPTION {% if limit == 10 %}selected{%endif%} value="10">10</OPTION>
  <OPTION {% if limit == 50 %}selected{%endif%} value="50">50</OPTION>
  <OPTION {% if limit == 100 %}selected{%endif%} value="100">100</OPTION>
</SELECT>
<input type="submit" name="nextpage" {%if page == totalpages %}disabled='disabled' {%endif%}onclick="document.pagingbottom.pageaction.value='next'" value="NextPage" />
<input type="submit" name="lastpage" {%if page == totalpages %}disabled='disabled' {%endif%}onclick="document.pagingbottom.pageaction.value='last'" value="LastPage" />
<input type="hidden" id="pageaction" name="pageaction" value="" />
</form>
</div>
{%endif%}
{% endblock %}
