{% extends "base.html" %}
{% load lenx %}

{% block scripts %}
<script type="text/javascript" src="{%media_url%}/js/jquery.1.4.2.min.js"></script>
{% endblock %}

{% load lenx %}
{% block main %}
<ul class="docmenu">
   <li><a href='{%root_url%}/pippies?doc={{doc.oid}}'>Pippies</a></li>
   <li><a href='{%root_url%}/frags?doc={{doc.oid}}'>Frags</a></li>
  <li><a href="/doc/{{doc.docid}}">View</a></li>
  <li><a href="/pippi/{{doc.docid}}">Pippify</a></li>
</ul>
<h2 title="{{doc.title|safe}}">Metadata for {{ doc.title|safe|truncatewords:10  }} ({{ doc.docid }})</h2>
<div>
{% for class, items in metadata.items %}
   <fieldset class="metaclass" id="{{class}}"><legend>{{class}}</legend>
       {% for k,v in items.items %}
           <legend id="{{class}}/{{k}}">{{k}}</legend>
               <ul>
               {% for i in v %}
                   <li>{{i|safe}}</li>
               {% endfor %}
               </ul>
       {% endfor %}
   </fieldset>
{% endfor %}
<br style="clear: both;" />
<fieldset class="metaclass" id="RelatedDocs"><legend>Related docs</legend>
    <ul>
    {% for dd in related %}
    <li><a href="/doc/{{ dd.docid }}?cutoff={{cutoff}}" {% if dd.title %}title="{{dd.title|safe}}">{{dd.title|safe|truncatewords:30}}{%else%}>{{dd.docid|safe}}{%endif%}</a><hr /></li>
    {% empty %}
    None yet, start <a href="/pippi/{{doc.docid}}">pippi here</a>
    {% endfor %}
    </ul>
</fieldset>
</div>
{% endblock %}
