{% extends "base.html" %}
{% load lenx %}
{% block main %}
<h1>Pippies in {% if doc %}{{doc}}{%else%}documents{%endif%}</h1>
<div class="pager-controls">
<form action="/pippies{% if getparams%}?{{getparams}}{%endif%}" name="pagingtop" method="post" enctype="multipart/form-data">
<input type="submit" name="firstpage" onclick="document.pagingtop.pageaction.value='first'" value="FirstPage" />
<input type="submit" name="backpage" onclick="document.pagingtop.pageaction.value='prior'" value="PriorPage" />
<SELECT name="limit">
  <OPTION {% if limit == '10' %}selected{%endif%} value="10">10</OPTION>
  <OPTION {% if limit == '50' %}selected{%endif%} value="50">50</OPTION>
  <OPTION {% if limit == '100' %}selected{%endif%} value="100">100</OPTION>
</SELECT>
<input type="submit" name="nextpage" onclick="document.pagingtop.pageaction.value='next'" value="NextPage" />
<input type="submit" name="lastpage" onclick="document.pagingtop.pageaction.value='last'" value="LastPage" />
<input type="hidden" id="offset" name="offset" value="{{offset}}" />
<input type="hidden" id="orderby" name="orderby" value="{{orderby}}" />
<input type="hidden" id="desc" name="desc" value="{% if desc %}1{%endif%}" />
<input type="hidden" id="pageaction" name="pageaction" value="" />
</form>
</div>
<p>Page {{page}}/{{totalpages}} - Showing {{limit}} of {{totalinquery}} results.</p>
<table class="listing">
  <thead><tr><td>Text</td><td>Also in</td><td>Relevance</td></tr></thead>
{% for pippi in pippies %}
<tr><td>{{pippi.pippi}}</td><td><a href="/frags?pippi={{pippi.id}}">{{pippi.docslen}}</a></td><td>{{pippi.relevance}}</td></tr>
{% endfor %}
</table>
<div class="pager-controls">
<form action="/pippies{% if getparams%}?{{getparams}}{%endif%}" name="pagingbottom" method="post" enctype="multipart/form-data">
<input type="submit" name="firstpage" onclick="document.pagingbottom.pageaction.value='first'" value="FirstPage" />
<input type="submit" name="backpage" onclick="document.pagingbottom.pageaction.value='prior'" value="PriorPage" />
<SELECT name="limit">
  <OPTION {% if limit == '10' %}selected{%endif%} value="10">10</OPTION>
  <OPTION {% if limit == '50' %}selected{%endif%} value="50">50</OPTION>
  <OPTION {% if limit == '100' %}selected{%endif%} value="100">100</OPTION>
</SELECT>
<input type="submit" name="nextpage" onclick="document.pagingbottom.pageaction.value='next'" value="NextPage" />
<input type="submit" name="lastpage" onclick="document.pagingbottom.pageaction.value='last'" value="LastPage" />
<input type="hidden" id="offset" name="offset" value="{{offset}}" />
<input type="hidden" id="orderby" name="orderby" value="{{orderby}}" />
<input type="hidden" id="desc" name="desc" value="{% if desc %}1{%endif%}" />
<input type="hidden" id="pageaction" name="pageaction" value="" />
</form>
</div>
{% endblock %}
