{% extends "base.html" %}
{% load lenx %}
{% block content %}
{%if doc %}
<ul class="docmenu">
  <li><a href="/doc/{{docTitle}}">View</a></li>
  <li><a href="/meta/{{docTitle}}">Metadata</a></li>
  <li><a href="/pippi/{{docTitle}}">Pippify</a></li>
  <li><a href='{%root_url%}/frags?doc={{doc}}'>Frags</a></li>
</ul>
{%endif%}
{% if totalinquery > limit %}
<h1>Pippies in {% if docTitle %}{{docTitle}}{%else%}documents{%endif%}</h1>
<div class="pager-controls">
<form action="{%root_url%}/pippies" name="pagingtop">
{%if doc %}<input type="hidden" id="doc" name="doc" value="{{doc}}" />{%endif%}
<input type="hidden" id="offset" name="offset" value="{{offset}}" />
<input type="hidden" id="cutoff" name="cutoff" value="{{cutoff}}" />
<input type="hidden" id="orderby" name="orderby" value="{{orderby}}" />
<input type="hidden" id="desc" name="desc" value="{% if desc %}1{%endif%}" />
<input type="submit" name="firstpage" {%if page == 1 %}disabled='disabled' {%endif%}onclick="document.pagingtop.pageaction.value='first'" value="FirstPage" />
<input type="submit" name="backpage" {%if page == 1 %}disabled='disabled' {%endif%}onclick="document.pagingtop.pageaction.value='prior'" value="PriorPage" />
<SELECT name="limit">
  <OPTION {% if limit == 10 %}selected{%endif%} value="10">10</OPTION>
  <OPTION {% if limit == 50 %}selected{%endif%} value="50">50</OPTION>
  <OPTION {% if limit == 100 %}selected{%endif%} value="100">100</OPTION>
</SELECT>
<input type="submit" name="nextpage" {%if page == totalpages %}disabled='disabled' {%endif%}onclick="document.pagingtop.pageaction.value='next'" value="NextPage" />
<input type="submit" name="lastpage" {%if page == totalpages %}disabled='disabled' {%endif%}onclick="document.pagingtop.pageaction.value='last'" value="LastPage" />
<input type="hidden" id="pageaction" name="pageaction" value="" />
</form>
</div>
<p>Page {{page}}/{{totalpages}} - Showing {{totalitems}} of {{totalinquery}} results.</p>
{%else%}
<p>Showing {{totalitems}} of {{totalinquery}} results.</p>
{%endif%}
<table class="listing">
  <thead><tr><td>Text</td><td>Also in</td><td>Relevance</td></tr></thead>
{% for pippi in pippies %}
<tr><td>{{pippi.pippi}}</td><td><a href="{%root_url%}/frags?pippi={{pippi.id}}">{{pippi.docslen}}</a></td><td>{{pippi.relevance}}</td></tr>
{% endfor %}
</table>
{% if totalinquery > limit %}
<div class="pager-controls">
 <form action="{%root_url%}/pippies" name="pagingbottom">
{%if doc %}<input type="hidden" id="doc" name="doc" value="{{doc}}" />{%endif%}
<input type="hidden" id="cutoff" name="cutoff" value="{{cutoff}}" />
<input type="hidden" id="offset" name="offset" value="{{offset}}" />
<input type="hidden" id="orderby" name="orderby" value="{{orderby}}" />
<input type="hidden" id="desc" name="desc" value="{% if desc %}1{%endif%}" />
<input type="submit" name="firstpage" {%if page == 1 %}disabled='disabled' {%endif%}onclick="document.pagingbottom.pageaction.value='first'" value="FirstPage" />
<input type="submit" name="backpage" {%if page == 1 %}disabled='disabled' {%endif%}onclick="document.pagingbottom.pageaction.value='prior'" value="PriorPage" />
<SELECT name="limit">
  <OPTION {% if limit == 10 %}selected{%endif%} value="10">10</OPTION>
  <OPTION {% if limit == 50 %}selected{%endif%} value="50">50</OPTION>
  <OPTION {% if limit == 100 %}selected{%endif%} value="100">100</OPTION>
</SELECT>
<input type="submit" name="nextpage" {%if page == totalpages %}disabled='disabled' {%endif%}onclick="document.pagingbottom.pageaction.value='next'" value="NextPage" />
<input type="submit" name="lastpage" {%if page == totalpages %}disabled='disabled' {%endif%}onclick="document.pagingbottom.pageaction.value='last'" value="LastPage" />
<input type="hidden" id="pageaction" name="pageaction" value="" />
</form>
</div>
{%endif%}
{% endblock %}
