{% extends "base.html" %}
{% load lenx %}

{% block scripts %}
<script type="text/javascript" src="/site_media/js/jquery.1.4.2.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $(".star").focus( function(event) { $(this).blur(); return false; });
    $(".star").click( function(event) {
        var id = $(this).attr('id');
        $.ajax({
          url: "{% root_url %}/toggle_star/"+id.substr(2),
          cache: false,
          success: function(html){
            if(html == 'True') {
                $('#'+id).html('&#x2605;');
            } else {
                $('#'+id).html('&#x2606;');
            }
        }
      });
    return false;
    });
    $("#jobsform").submit(function() {
      //var ids = [];
      var res = false;
      $('.star:contains("★")').each(function (i) {
        res = true;
        $('#jobsform').append('<input type="hidden" name="ids" value="' + $(this).attr('id').substr(2) +'" />');
      });
      return res;
    });
});
</script>
{% endblock %}
{% block menu %}
  <li><a href="/doc/{{refdoc}}">View</a></li>
  <li><a href="/meta/{{refdoc}}">Metadata</a></li>
{% endblock %}

{% block main %}
<h2 title="{{refdoc.title|safe}}">Related to {{refdoc|safe|truncatewords:10}}</h2>
Stats: <ul id="stats">
{% for stat in stats %}
<li>{{stat.text}}</li>
{% endfor %}
</ul>
<form id="jobsform" action="/jobs" method="post">
<input type="hidden" name="doc" value="{{oid}}" />
<input type="submit" id="jobs" value="Pippi starred" />
</form>
<table class="listing">
  <thead>
   <tr><td>&#x2605;</td><td>Type</td><td style="width: 100%;">Doc</td><td>Related/Indexed</td><td>Pippies</td><td>Frags</td><td>Tags</td></tr>
  </thead>
{% for doc in docs %}
    <tr id="{{doc.oid}}" class="{% if doc.oid in starred %}starred{%endif%}">
    <td>
      <a href="{% root_url %}/toggle_star/{{ doc.oid }}" class="star" id="id{{ doc.oid }}">{% if doc.oid in starred %}&#x2605;{%else%}&#x2606;{%endif%}</a>
    </td>
    <td>
      {{doc.type}}
    </td>
    <td>
       <a title="{{doc.title|safe}}" href="{% root_url %}/doc/{{doc.id}}">{{doc.title|safe|truncatewords:30}}</a>
    </td>
    <td>
       {{doc.docs}}/{{doc.indexed}}
    </td>
    {% if doc.job %}
    <td colspan="2">
       <a href='{%root_url%}/job?d1={{refdoc}}&d2={{doc.id}}'>Find pippies</a>
    </td>
    {% else %}
    <td>
       <a href='{%root_url%}/pippies?doc={{doc.oid}}'>{{doc.pippies}}</a>
    </td>
    <td>
       <a href='{%root_url%}/frags?doc={{doc.oid}}'>{{doc.frags}}</a>
    </td>
    {% endif %}
    <td>
       <div class="tagcloud">
            {% for tag in doc.tags %}
            <span class="size{{tag.weight}}">{{tag.tag}}</span>
            {% endfor %}
       </div>
    </td>
    </tr>
{% endfor %}
</table>
{% endblock %}
