{% extends "base.html" %}
{% load lenx %}

{% block scripts %}
<script type="text/javascript" src="/site_media/js/jquery.1.4.2.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $(".star").focus( function(event) { $(this).blur(); return false; });
    $(".star").click( function(event) {
        var id = $(this).attr('id');
        $.ajax({
          url: "{% root_url %}/toggle_star/"+id.substr(2),
          cache: false,
          success: function(html){
            if(html == 'True') {
                $('#'+id).html('&#x2605;');
            } else {
                $('#'+id).html('&#x2606;');
            }
        }
      });
    return false;
    });
    $("#jobsform").submit(function() {
      //var ids = [];
      var res = false;
      $('.star:contains("★")').each(function (i) {
        res = true;
        $('#jobsform').append('<input type="hidden" name="ids" value="' + $(this).attr('id').substr(2) +'" />');
      });
      return res;
    });
});
</script>
{% endblock %}

{% block content %}
<ul class="docmenu">
   <li>
   <form id="jobsform" action="/jobs">
      <input type="hidden" name="doc" value="{{oid}}" />
      <input type="submit" id="jobs" value="Pippi &#x2605;" />
   </form>
   </li>
   <li><a href="{%root_url%}/doc/{{refdoc}}">View</a></li>
   <li><a href="{%root_url%}/meta/{{refdoc}}">Metadata</a></li>
   <li><a href='{%root_url%}/pippies?doc={{oid}}'>Pippies</a></li>
   <li><a href='{%root_url%}/frags?doc={{oid}}'>Frags</a></li>
</ul>
<h2 title="{{reftitle|safe}}">Related to {{reftitle|safe|truncatewords:10}}</h2>
Stats: <ul id="stats">
{% for stat in stats %}
<li>{{stat.text}}</li>
{% endfor %}
</ul>

{% if totalinquery > limit%}
<div class="pager-controls">
   <form action="{%root_url%}/pippi/{{refdoc}}" name="pagingtop">
<input type="hidden" id="offset" name="offset" value="{{offset}}" />
<input type="submit" name="firstpage" {%if page == 1 %}disabled='disabled' {%endif%}onclick="document.pagingtop.pageaction.value='first'" value="FirstPage" />
<input type="submit" name="backpage" {%if page == 1 %}disabled='disabled' {%endif%}onclick="document.pagingtop.pageaction.value='prior'" value="PriorPage" />
<SELECT name="limit">
  <OPTION {% if limit == 10 %}selected{%endif%} value="10">10</OPTION>
  <OPTION {% if limit == 50 %}selected{%endif%} value="50">50</OPTION>
  <OPTION {% if limit == 100 %}selected{%endif%} value="100">100</OPTION>
</SELECT>
<input type="submit" name="nextpage" {%if page == totalpages %}disabled='disabled' {%endif%}onclick="document.pagingtop.pageaction.value='next'" value="NextPage" />
<input type="submit" name="lastpage" {%if page == totalpages %}disabled='disabled' {%endif%}onclick="document.pagingtop.pageaction.value='last'" value="LastPage" />
<input type="hidden" id="pageaction" name="pageaction" value="" />
</form>
</div>
<p>Page {{page}}/{{totalpages}} - Showing {{totalitems}} of {{totalinquery}} results.</p>
{%else%}
<p>Showing {{totalitems}} of {{totalinquery}} results.</p>
{%endif%}

<table class="listing">
  <thead>
   <tr><td>&#x2605;</td><td>Type</td><td style="width: 100%;">Doc</td><td>Related/Indexed</td><td>Pippies</td><td>Frags</td><td>Tags</td></tr>
  </thead>
{% for doc in docs %}
    <tr id="{{doc.oid}}" class="{% if doc.oid in starred %}starred{%endif%}">
    <td class="centered">
      <a href="{% root_url %}/toggle_star/{{ doc.oid }}" class="star" id="id{{ doc.oid }}">{% if doc.oid in starred %}&#x2605;{%else%}&#x2606;{%endif%}</a>
    </td>
    <td class="centered">
      <img src="{%media_url%}/images/{{doc.type}}.png" />
    </td>
    <td>
       <a title="{{doc.title|safe}}" href="{% root_url %}/doc/{{doc.id}}">{{doc.title|safe|truncatewords:30}}</a>
    </td>
    <td>
       {{doc.docs}}/{{doc.indexed}}
    </td>
    {% if doc.job %}
    <td colspan="2">
       <a href='{%root_url%}/job?d1={{refdoc|urlencode}}&d2={{doc.id|urlencode}}'>Find pippies</a>
    </td>
    {% else %}
    <td>
       <a href='{%root_url%}/pippies?doc={{doc.oid}}'>{{doc.pippies}}</a>
    </td>
    <td>
       <a href='{%root_url%}/frags?doc={{doc.oid}}'>{{doc.frags}}</a>
    </td>
    {% endif %}
    <td>
       <div class="tagcloud">
            {% for tag in doc.tags %}
            <span class="size{{tag.weight}}">{{tag.tag}}</span>
            {% endfor %}
       </div>
    </td>
    </tr>
{% endfor %}
</table>


{% if totalinquery > limit%}
<div class="pager-controls">
   <form action="{%root_url%}/pippi/{{refdoc}}" name="pagingbottom">
<input type="hidden" id="offset" name="offset" value="{{offset}}" />
<input type="submit" name="firstpage" {%if page == 1 %}disabled='disabled' {%endif%}onclick="document.pagingbottom.pageaction.value='first'" value="FirstPage" />
<input type="submit" name="backpage" {%if page == 1 %}disabled='disabled' {%endif%}onclick="document.pagingbottom.pageaction.value='prior'" value="PriorPage" />
<SELECT name="limit">
  <OPTION {% if limit == 10 %}selected{%endif%} value="10">10</OPTION>
  <OPTION {% if limit == 50 %}selected{%endif%} value="50">50</OPTION>
  <OPTION {% if limit == 100 %}selected{%endif%} value="100">100</OPTION>
</SELECT>
<input type="submit" name="nextpage" {%if page == totalpages %}disabled='disabled' {%endif%}onclick="document.pagingbottom.pageaction.value='next'" value="NextPage" />
<input type="submit" name="lastpage" {%if page == totalpages %}disabled='disabled' {%endif%}onclick="document.pagingbottom.pageaction.value='last'" value="LastPage" />
<input type="hidden" id="pageaction" name="pageaction" value="" />
</form>
</div>
{%endif%}

{% endblock %}
