{% extends "base.html" %}
{% load lenx %}

{% block scripts %}
<script type="text/javascript" src="{%media_url%}/js/tinymce/tiny_mce.js"></script>
<script type="text/javascript" src="{%media_url%}/js/uploadmce.js"></script>
{% endblock %}

{% block content %}
<h1>Create a new document</h1>
<p>Here you can easily copy/paste texts. If you're logged they will be added to
your collection.</p>
<form action="{% root_url %}/create" method="post">
<table>
{% for field in form %}
<tr>
    <td>{{ field.label_tag }}:
        {{ field.errors }}</td>
    <td>
        {{ field }}
    </td>
</tr>
{% endfor %}
<tr><td /><td><input type="submit" value="submit" /></td></tr>
</table>
</form>
{% endblock %}
